@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

*:empty {
  gap: unset;
}

body {
  margin: 0;
  padding: 1rem;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'pnum';
  font-variant-numeric: proportional-nums;
}

img,
picture,
video,
canvas {
  max-width: 100%;
  max-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}
a:visited {
  color: inherit;
}
a[href^='/'] {
  color: inherit;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  margin: 0;
}

address {
  font-style: normal;
  font-size: small;
  line-height: 1;
}
address > span {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  overflow-wrap: break-word;
}

table {
  border-collapse: collapse;
}

table td {
  border-top: 1px solid #e5e5e5;
  font-size: 0.75rem;
  padding: 0.25rem 0;
}
table tfoot td {
  border-color: black;
}
